{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Add "{{ video.title }}" to Playlist?</h3>
                    <i class="fa fa-film" style="font-size: 1.5rem;"></i>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.playlist.label_tag }}
                            {{ form.playlist }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Add to Playlist</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center bg-light">
                    <span>Don't have a playlist? </span>
                    <a href="{% url 'create_playlist' %}" class="btn btn-outline-secondary btn-sm">Create New Playlist</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
