{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card shadow-lg p-4">
                <a href="{% url 'home' %}">
                <div class="text-center">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo" class="img-fluid mb-4" style="width: 80px;">
                </div></a>
                {% include 'messages.html' %}
                <h3 class="text-center mb-4">Register</h3>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Choose a username" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" name="password1" class="form-control" id="password" placeholder="Choose a password" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" id="password" placeholder="Choose a password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    <p class="text-center mt-3">
                        Already have an account? <a href="{% url 'login' %}">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
